<h1> {{msg}}</h1>

<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <button type="submit"  (click)="showLoginForm()"  class="btn btn-primary">Login</button>
      <button type="submit" (click)="showRegisterForm()"  class="btn btn-primary">Register</button>

</ul>
<div class="register"  *ngIf="!hideEditForm">
  <mat-card>
    <mat-card-content>
      <mat-card-header class="app-accent" layout="row">      
      </mat-card-header>
      <app-memberlogin [selectedEmployee]="member" (saved)="save($event)"></app-memberlogin>    
    </mat-card-content>
  </mat-card>
</div>

<div id="loginForm" *ngIf="hideEditForm">
<mat-card >
  <mat-card-content>
    <app-loginpage (check)="check($event)"></app-loginpage>
  </mat-card-content>
</mat-card>
</div>

<!-- <div> {{msg}}</div> -->
<!-- <div class="tab-content">
  <div class="tab-pane fade" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <app-loginpage (check)="check($event)"></app-loginpage> 
  </div>
 <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">     
        <app-memberlogin [selectedEmployee]="member" (saved)="save($event)"></app-memberlogin>    
   </div> 
</div> -->
<!-- Pills content -->