<!-- <form (ngSubmit)="memberLogin()"> -->
<form [formGroup]="memberForm">
  <div class="mb-3">
    <div id="emailHelp" class="form-text">Sign Up Page!!</div>
    <br />
    <div class="mb-3">
      <label for="InputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        aria-describedby="emailHelp"
      />
    </div>
    <br />
    <div class="mb-3">
      <label for="InputUserName" class="form-label">User Name</label>
      <input type="userName" class="form-control" formControlName="userName" />
    </div>
    <br />
    <div class="mb-3">
      <label for="InputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
  </div>
  <br />
  <button
    type="submit"
    (click)="updateSelectedMember()"
    class="btn btn-primary"
  >
    Submit
  </button>
</form>
