<img [src]="getImage(0)" style="width:100px; height:100px;" (click)="setKeep(0)"/> 
<img [src]="getImage(1)" style="width:100px; height:100px;" (click)="setKeep(1)"/> 
<img [src]="getImage(2)" style="width:100px; height:100px;" (click)="setKeep(2)"/> 
<img [src]="getImage(3)" style="width:100px; height:100px;" (click)="setKeep(3)"/> 
<img [src]="getImage(4)" style="width:100px; height:100px;" (click)="setKeep(4)"/> 

<button id="btn_roll" *ngIf="score.total === -1; else elseBlockGame" (click)="bpressRollDice()">Roll those dice!</button>
<ng-template #elseBlockGame><button id="btn_restart" (click)="resetGame()" >New Game</button></ng-template>
<p class="yum_bold">Roll #:{{rollNum}}</p>
<p>{{statusmsg}}</p>

<table>
    <tr>
        <th>
            Roll
        </th>
        <th>
            Scoring
        </th>
        <th>
            Score
        </th>
        <th>
               Roll
        </th>
        <th>
            Scoring  
        </th>
        <th>
            Score
        </th>
    </tr>
    <tr>
        <td>
            1's
        </td>
        <td>
            5
        </td>
        <td class="yum_scored" *ngIf="score.numbers[0] !== -1; else elseBlock">{{score.numbers[0]}}</td>
        <ng-template #elseBlock><td class="yum_canScore" (click)="scoreThis(0)">{{scoreNumbers(1)}}</td></ng-template>
        <td>
            3-of-a-kind
        </td>
        <td>
            Total
        </td>
        <td class="yum_scored" *ngIf="score.threeofakind !== -1; else elseBlock3Kind">{{score.threeofakind}}</td>
        <ng-template #elseBlock3Kind><td class="yum_canScore" (click)="scoreThis(6)">{{score3OfKind()}}</td></ng-template>
    </tr>
    <tr>
        <td>
            2's
        </td>
        <td>
            10
        </td>
        <td class="yum_scored"  *ngIf="score.numbers[1] !== -1; else elseBlock1">{{score.numbers[1]}}</td>
        <ng-template #elseBlock1><td class="yum_canScore" (click)="scoreThis(1)">{{scoreNumbers(2)}}</td></ng-template>
        <td>
            4-of-a-kind
        </td>
        <td>
            Total
        </td>
        <td class="yum_scored"  *ngIf="score.fourofakind !== -1; else elseBlock4Kind">{{score.fourofakind}}</td>
        <ng-template #elseBlock4Kind><td class="yum_canScore" (click)="scoreThis(7)">{{score4OfKind()}}</td></ng-template>
    </tr>
    <tr>
        <td>
            3's
        </td>
        <td>
            15
        </td>
        <td class="yum_scored" *ngIf="score.numbers[2] !== -1; else elseBlock2">{{score.numbers[2]}}</td>
        <ng-template #elseBlock2><td class="yum_canScore" (click)="scoreThis(2)">{{scoreNumbers(3)}}</td></ng-template>
        <td>
            Sm Straight
        </td>
        <td>
            15
        </td>
        <td class="yum_scored" *ngIf="score.smstraight !== -1; else elseBlockSmStraight">{{score.smstraight}}</td>
        <ng-template #elseBlockSmStraight><td class="yum_canScore" (click)="scoreThis(8)">{{scoreSmallStraight()}}</td></ng-template>
    </tr>
    <tr>
        <td>
            4's
        </td>
        <td>
            20
        </td>
        <td class="yum_scored" *ngIf="score.numbers[3] !== -1; else elseBlock3">{{score.numbers[3]}}</td>
        <ng-template #elseBlock3><td class="yum_canScore" (click)="scoreThis(3)">{{scoreNumbers(4)}}</td></ng-template>
        <td>
            Lg Straight
        </td>
        <td>
            20
        </td>
        <td class="yum_scored" *ngIf="score.lgstraight !== -1; else elseBlockLgStraight">{{score.lgstraight}}</td>
        <ng-template #elseBlockLgStraight><td class="yum_canScore" (click)="scoreThis(9)">{{scoreLargeStraight()}}</td></ng-template>
    </tr>
    <tr>
        <td>
            5's
        </td>
        <td>
            25
        </td>
        <td class="yum_scored" *ngIf="score.numbers[4] !== -1; else elseBlock4">{{score.numbers[4]}}</td>
        <ng-template #elseBlock4><td class="yum_canScore" (click)="scoreThis(4)">{{scoreNumbers(5)}}</td></ng-template>
        <td>
            Full House
        </td>
        <td>
            25
        </td>
        <td class="yum_scored" *ngIf="score.fullhouse !== -1; else elseBlockFullHouse">{{score.fullhouse}}</td>
        <ng-template #elseBlockFullHouse><td class="yum_canScore" (click)="scoreThis(10)">{{scoreFullHouse()}}</td></ng-template>
    </tr>
    <tr>
        <td>
            6's
        </td>
        <td>
            30
        </td>
        <td class="yum_scored" *ngIf="score.numbers[5] !== -1; else elseBlock5">{{score.numbers[5]}}</td>
        <ng-template #elseBlock5><td class="yum_canScore" (click)="scoreThis(5)">{{scoreNumbers(6)}}</td></ng-template>
        <td>
            High Roll
        </td>
        <td>
            Total
        </td>
        <td class="yum_scored" *ngIf="score.highroll !== -1; else elseBlockHighRoll">{{score.highroll}}</td>
        <ng-template #elseBlockHighRoll><td class="yum_canScore" (click)="scoreThis(11)">{{scoreHighRoll()}}</td></ng-template>
    </tr>
    <tr>
        <td>
            BONUS (63+)
        </td>
        <td>
            25
            <td class="yum_scored" *ngIf="scoreBonus() !== -1; else elseBlockBonus">{{scoreBonus()}}</td>
            <ng-template #elseBlockBonus><td>---</td></ng-template>
        <td>
            YUM
        </td>
        <td>
            40
        </td>
        <td class="yum_scored" *ngIf="score.yum !== -1; else elseBlockYum">{{score.yum}}</td>
        <ng-template #elseBlockYum><td class="yum_canScore" (click)="scoreThis(12)">{{scoreYum()}}</td></ng-template>
    </tr>
    <tr>
        <td>
            Dice Total:
        </td>
        <td>
            130
        </td>
        <td>
            {{getNumberTotal()}}
        </td>
        <td>
            Dice Total:
        </td>
        <td>
            190
        </td>
        <td>
            {{getOtherTotal()}}
        </td>
    </tr>
</table>
