<mat-toolbar color="primary">
  
  <span>PlayYum - {{ title }}</span>

  <span style="flex: 1 1 auto"></span>
  <button mat-button [matMenuTriggerFor]="appMenu" align="end">
    <mat-icon>menu</mat-icon>
  </button>
  
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <a mat-menu-item [routerLink]="['home']" (click)="setTitle('home')">home</a>
  <a mat-menu-item [routerLink]="['members']" (click)="setTitle('members')">Sign up</a>
  <!-- <a mat-menu-item [routerLink]="['landingpage']" (click)="setTitle('login')">Welcome</a> -->
   <!-- <a mat-menu-item [routerLink]="['loginpage']" (click)="setTitle('memberslogin')">Login members</a> -->
</mat-menu>

<router-outlet></router-outlet>

